<div class="">
  <div class="">
    <form class="form" action="/posts/{{post._id}}/comments/{{comment._id}}" method="post">
      <p class="">
        <textarea name="content" class="" id="reply-content" placeholder="Reply"></textarea>
      </p>
      <p class='form-submit-container'>
        <input type="submit">
      </p>
    </form>
  </div>
</div>
