<head>
    <link href = "https://fonts.googleapis.com/css?family=Finger+Paint|Raleway" rel="stylesheet">
</head>
<style>
     h2 {
      font-family: 'Finger Paint', cursive;
      color: white;
      padding-left: 400px;
      padding-top: 300px;
    }

</style>
  <h1>{{msg}}</h1>


  <h2>RedditClone!</h2>
